<!DOCTYPE html>
<html>
<head>
  <title>Pics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Person', root_path, class: 'navbar-brand'%>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %></li>
        <% else %>
          <li><%= link_to 'Login', '/login' %></li> 
          <li><%= link_to 'Signup', '/signup' %></li>
        <% end %>
      </ul>
  </div>
</nav>
  


<div class="container">
  <%= yield %>
</div>


</body>
</html>
